:host {
    min-width: 20rem;
    height: inherit;
    display: block;
}

.pane {
    border-radius: var(--slds-g-radius-border-1);
    height: inherit;
}

.pane > *:first-child{
    background-color: var(--slds-g-color-surface-container-1);
    max-height: fit-content;
} 

.pane > *:last-child {
    max-height: fit-content;
    background-color: var(--slds-g-color-surface-2);
    border-top-width: var(--slds-g-sizing-border-2);
}

.filter-items > * {
    max-height: fit-content;
}