:host {
    display: block;
    height: inherit;
    overflow: hidden;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.slds-tabs_card {
    display: block;
    height: inherit;
}

h2.slds-card__header-title {
    width: max-content;
}

.title-link {
    cursor: pointer;
}

.title-link:hover, .title-link:active, .title-link:focus {
    color: var(--slds-g-color-palette-blue-30);
    text-decoration: underline;
}

.button-icon-wrapper {
    background-color: white;
    border-radius: var(--slds-g-radius-border-2);
}