:host {
    display: block;
    height: inherit;
    overflow: hidden;

    border-radius: var(--slds-g-radius-border-2);

    background-color: var(--slds-g-color-neutral-base-95);
}

.slds-tabs_card {
    height: inherit;
}

h2.slds-card__header-title {
    width: max-content;
}

.title-link {
    cursor: pointer;
}

.title-link:hover, .title-link:active, .title-link:focus {
    color: var(--slds-g-color-palette-blue-30);
    text-decoration: underline;
}

.button-icon-wrapper {
    background-color: var(--slds-g-color-surface-container-1);
    border-radius: var(--slds-g-radius-border-2);
}

.slds-card__footer.slds-m-top_none {
    border-top: none;
}

.body-table-container:has(lightning-data-table) {
    background-color: var(--slds-g-color-surface-2);
}

.quick-filters-pane {
    background-color: var(--slds-g-color-surface-container-1);
    right: 0;
    z-index: 2;
    min-width: 20rem;
    height: stretch;
    border-radius: var(--slds-g-radius-border-1);
}

.quick-filters-pane > *:first-child{
    max-height: fit-content;
} 

.quick-filters-pane > *:last-child {
    max-height: fit-content;
    background-color: var(--slds-g-color-surface-2);
    border-top-width: var(--slds-g-sizing-border-2);
}

.quick-filter-items > * {
    max-height: fit-content;
}