.shimmer {
    background: linear-gradient(90deg, var(--skeleton-shimmer-color-1,#f3f3f3) 25%, var(--skeleton-shimmer-color-2, #ecebeb) 50%, var(--skeleton-shimmer-color-3, #f3f3f3) 75%);
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: 4px;
    }
    @keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}

.slds-skeleton {
    width: var(--skeleton-width, 100%);
    height: var(--skeleton-height, 1rem);
}