lightning-layout-item.tile .slds-col:first-child, lightning-layout-item.tile .slds-col:last-child {
    max-width: fit-content;
}

.skeleton-icon {
    --skeleton-width: 2rem;
    --skeleton-height: 2rem;
}

.skeleton-body {
    --skeleton-height: .75rem;
}

lightning-layout.slds-border_bottom:has(c-skeleton) {
    border-bottom: none;
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
}

c-skeleton.skeleton-body.odd-skeleton {
    --skeleton-width: 50%;
}
