:host {
    display: block;
    height: inherit;
}

.shimmer {
    background: linear-gradient(90deg, #f3f3f3 25%, #ecebeb 50%, #f3f3f3 75%);
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: 4px;
    }
    @keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}

.skeleton-table-header-row {
    height: var(--slds-g-sizing-9);
}

.skeleton-table-body-row {
    height: var(--slds-g-sizing-9);
}

.card-body-desktop {
    height: inherit;
}

.slds-table_bordered:has(.skeleton-table-body) {
    border-bottom: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

