:host {
    --slds-c-card-shadow: none;
}

.slds-page-header.no-bottom-border-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.actions, .controls {
    max-width: max-content;
}

.slds-grid {
    gap: var(--slds-g-spacing-2);
}