:host {
    --component-height: var(--radio-group-height, 2rem);
    --component-line-height: var(--radio-group-line-height, 2rem);

    height: var(--component-height);
    line-height: var(--component-line-height);
}

.radio-group {
    width: max-content;
    gap: var(--radio-group-gap, var(--slds-g-spacing-4, 1rem));
}

.radio-option {
    gap: var(--radio-option-gap, var(--slds-g-spacing-1, .25rem));
    cursor: pointer;
}