:host {
    --slds-c-card-shadow: none;
}

.slds-page-header {
    border-radius: var(--slds-g-radius-border-1);
}

.slds-page-header.no-bottom-border-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.actions, .controls {
    max-width: max-content;
}

.vertical-gap {
    gap: var(--slds-g-spacing-2);
}

.slds-media__body.slds-grid.slds-grid_vertical {
    line-height: var(--slds-g-font-lineheight-1);
    align-self: center;
}

c-skeleton {
    --skeleton-height: .75rem;
    --skeleton-shimmer-color-1: #f3f3f3;
    --skeleton-shimmer-color-2: #dcdcdc;
    --skeleton-shimmer-color-3: #f3f3f3;
}

c-skeleton.breadcumbs-skeleton {
    --skeleton-width: 14rem;
}

c-skeleton.info-skeleton {
     --skeleton-width: 16.75rem;
}
